<form data-id="{{this.id}}" class="update-burger">

    <div class="form-burger">
        <label for="burger_name">Burger Name:</label>
        <input type="text" id="auth" name="burger_name" value="{{this.burger_name}}">
    </div>
    <button type="submit">update Burger</button>
</form>